/* Web Fonts -------------------- */

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster_1.3.otf');
}

/* Base Styles -------------------- */

/** {*/
/*	box-sizing: border-box;*/
/*}*/

h1 {
    font-family: 'Lobster', Helvetica, Arial, sans-serif;
    font-size: calc(4vw + 4vh + 2vmin);
    margin: 20px 0;
}

h2 {
    font-family: 'Lobster', Helvetica, Arial, sans-serif;
    font-size: calc(1vw + 4vh + 2vmin);
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*overflow: hidden;*/
}

.main-title-text {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#query {
  font-family: 'Lobster', Helvetica, Arial, sans-serif;
  font-size: calc(1vw + 4vh + 2vmin);
  text-align: center;
  color: red;
  width: 90%;
  height: 100px;
  border: 5px black solid;
  margin-bottom: 20px;
}

#getdata {
  font-family: 'Lobster', Helvetica, Arial, sans-serif;
  background: darkgrey;
  font-size: calc(1vw + 4vh + 2vmin);
  color: white;
  cursor: pointer;
  padding: 20px;
  border-radius: 100%;
}

.title_overlay p {
    font-family: 'Lobster', Helvetica, Arial, sans-serif;
    font-size: calc(1vw + 4vh + 2vmin);
    line-height: 47px;
}

.top-jump {
  display: none;
}


/* Layout containers -------------------- */

.container {
	width: 95%;
	max-width: 1260px;
	background: #fff;
	margin: auto;
}

.header {
	text-align: center;
}

.photo-container {
  overflow: hidden;
	text-align: center;
  width: 90vw;
  margin: auto;
	margin-bottom: 1em;
	margin-top: 1em;
}

img {
  width: 90vw;
}

/* Page elements -------------------- */

.photo {
	position: relative;
	line-height: 0;
}

.title_overlay {
  color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90vw;
	align-items: center;
	background: rgba(0,0,0, .80);
	overflow: hidden;
}

/*.title_overlay:hover {*/
/*  opacity:0; */
/*  filter:alpha(opacity=0);*/
/*}*/

.title_overlay_off {
  display: none;
}


@media (min-width: 728px) {
   img {
    width: 50vw;
  }

  .photo-container {
    width: 50vw;
  }
  
  .title_overlay {
    width: 50vw;
  }
  
  .title_overlay p {
    line-height: 60px;
  }
  
  .top-jump-show {
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 50px;
    text-decoration: none;
    color:red;
  }
  
  .top-jump h2 {
    margin: 0;
  }
}