/* Web Fonts -------------------- */

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster_1.3.otf');
}

/* Base Styles -------------------- */
h1 {
    font-family: 'Lobster', Helvetica, Arial, sans-serif;
    font-size: 500%;
}

h2 {
    font-family: 'Lobster', Helvetica, Arial, sans-serif;
}